.container.mx-auto{"x-data" => "{ mode: 'signin' }", "x-cloak" => true}
  -# toggle buttons
  .mode-switch.mb-4
    %button.btn{"@click" => "mode = 'signin'", ":class" => "mode === 'signin' ? 'active' : 'inactive'"}
      Sign In
    %button.btn{"@click" => "mode = 'signup'", ":class" => "mode === 'signup' ? 'active' : 'inactive'"}
      Sign Up

  -# forms
  %form.signup-form{"x-show" => "mode === 'signup'", "x-transition" => true, action: '/signup', method: "POST"}
    %h2 Create Account
    .form-group
      %label{for: 'username'} Username:
      %input{type: "username", id: "username", name: "username", required: true}

      %label{for: 'stub'} Stub:
      %input{type: "stub", id: "stub", name: "stub", required: true}

      %label{for: 'email'} Email:
      %input{type: "email", id: "email", name: "email", required: true}

      %label{for: 'password'} Password:
      %input{type: "password", id: "password", name: "password", required: true}

      %button{type: "submit"} Sign up
  %form.signin-form{"x-show" => "mode === 'signin'", "x-transition" => true, action: '/signup', method: "POST"}
    %h2 Welcome Back
    .form-group
      %label{for: 'emailSignin'} Email:
      %input{type: "email", id: "emailSignin", name: "email", required: true}

      %label{for: 'passwordSignin'} Password:
      %input{type: "password", id: "passwordSignin", name: "password", required: true}

      %button{type: "submit"} Sign In